<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 
 * 어드민 행사관리 Mybatis 매퍼
 * @author 조영욱
 * @since 2024.06.17 
 * @version 1.0
 *
 * <pre>
 * 수정일        	수정자        수정내용
 * ==========  =========    =========
 * 2024.06.17  	조영욱        최초 생성
 * </pre>
 -->
<mapper namespace="com.devjeans.hype.event.mapper.AdminEventMapper">
	<!-- ********************************** -->
	<!-- ******    Event CRUD 시작    ****** -->
	<!-- ********************************** -->
	<select id="selectEventById" resultMap="event">
		SELECT 
			E.event_id,
			E.branch_id,
				B.branch_id,
				B.city_id,
				B.branch_name,
				B.address,
					C.city_id,
					C.city_name,
			E.event_type_id,
				ET.event_type_name,
			E.category_id,
				CA.category_name,
			E.title,
			E.content,
			E.image_url,
			E.start_date,
			E.end_date,
			E.view_count,
			E.detail_address
		FROM EVENT E
		LEFT JOIN BRANCH B
			ON E.branch_id = B.branch_id
		LEFT JOIN CITY C
			ON B.city_id = C.city_id
		LEFT JOIN EVENT_TYPE ET
			ON E.event_type_id = ET.event_type_id
		LEFT JOIN CATEGORY CA
			ON E.category_id = CA.category_id
		WHERE event_id = #{eventId}
	</select>
	
	
	<!-- ************* Event resultMap start ************* -->
	<resultMap type="EventTypeVO" id="eventType">
		<result column="event_type_id" property="eventTypeId" />
		<result column="event_type_name" property="eventTypeName" />
	</resultMap>
	
	<resultMap type="CityVO" id="city">
		<result column="city_id" property="cityId" />
		<result column="city_name" property="cityName" />
	</resultMap>
	
	<resultMap type="BranchVO" id="branch">
		<result column="branch_id" property="branchId" />
		<result column="city_id" property="cityId" />
		<result column="branch_name" property="branchName" />
		<result column="address" property="address" />
		<collection property="city" resultMap="city"/>
	</resultMap>
	
	<resultMap type="CategoryVO" id="category">
		<result column="category_id" property="categoryId" />
		<result column="category_name" property="categoryName" />
	</resultMap>
	
	<resultMap type="EventVO" id="event">
		<id column="event_id" property="eventId" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="image_url" property="imageUrl" />
 		<result column="branch_id" property="branchId" />
 		<result column="category_id" property="categoryId" />
		<result column="event_type_id" property="eventTypeId" /> 
		<result column="start_date" property="startDate" />
		<result column="end_date" property="endDate" />
		<result column="view_count" property="viewCount" />
		<result column="detail_address" property="detailAddress" />
		<collection property="eventType" resultMap="eventType"/>
		<collection property="branch" resultMap="branch"/>
		<collection property="category" resultMap="category"/>
	</resultMap>
	<!-- ************* Event resultMap end ************* -->
	
	<select id="selectEventListWithPaging" resultMap="event">
		SELECT 
			E.event_id,
			E.branch_id,
				B.branch_id,
				B.city_id,
				B.branch_name,
				B.address,
					C.city_id,
					C.city_name,
			E.event_type_id,
				ET.event_type_name,
			E.category_id,
				CA.category_name,
			E.title,
			E.content,
			E.image_url,
			E.start_date,
			E.end_date,
			E.view_count,
			E.detail_address
		FROM EVENT E
		LEFT JOIN BRANCH B
			ON E.branch_id = B.branch_id
		LEFT JOIN CITY C
			ON B.city_id = C.city_id
		LEFT JOIN EVENT_TYPE ET
			ON E.event_type_id = ET.event_type_id
		LEFT JOIN CATEGORY CA
			ON E.category_id = CA.category_id
		ORDER BY event_id DESC
		OFFSET (#{page}-1) * #{amount}
		ROWS FETCH FIRST #{amount} ROWS ONLY
	</select>
	
	<insert id="insertEvent">
		INSERT INTO EVENT (
			event_id,
			branch_id,
			event_type_id,
			category_id,
			title,
			content,
			image_url,
			start_date,
			end_date,
			detail_address
		)
		VALUES (
			SEQ_EVENT.NEXTVAL,
			#{branchId},
			#{eventTypeId},
			#{categoryId},
			#{title},
			#{content},
			#{imageUrl},
			#{startDate},
			#{endDate},
			#{detailAddress}
		)
	</insert>
	
	<update id="updateEvent">
		UPDATE EVENT
		SET branch_id = #{branchId},
			event_type_id = #{eventTypeId},
			category_id = #{categoryId},
			title = #{title},
			content = #{content},
			image_url = #{imageUrl},
			start_date = #{startDate},
			end_date = #{endDate},
			detail_address = #{detailAddress}
		WHERE event_id = #{eventId}
	</update>
	
	<delete id="deleteEvent">
		DELETE
		FROM EVENT
		WHERE event_id = #{eventId}
	</delete>
	
	<!-- ********************************** -->
	<!-- ******     Event CRUD 끝    ****** -->
	<!-- ********************************** -->
	
	<!-- ********************************** -->
	<!-- ******  Category CRUD 시작   ****** -->
	<!-- ********************************** -->
	
	<select id="selectCategoryById" resultType="CategoryVO">
		SELECT
			category_id,
			category_name
		FROM CATEGORY
		WHERE category_id = #{categoryId}
	</select>
	
	<select id="selectAllCategory">
		SELECT
			/*+ INDEX_DESC(CATEGORY PK_CATEGORY) */
			category_id,
			category_name
		FROM CATEGORY
		WHERE category_id > 0
	</select>
	
	<insert id="insertCategory">
		INSERT INTO CATEGORY (
			category_id,
			category_name
		)
		VALUES (
			SEQ_CATEGORY.NEXTVAL,
			#{categoryName}
		)
	</insert>
	
	<update id="updateCategory">
		UPDATE CATEGORY
		SET category_name = #{categoryName}
		WHERE category_id = #{categoryId}
	</update>
	
	<delete id="deleteCategory">
		DELETE
		FROM CATEGORY
		WHERE category_id = #{categoryId}
	</delete>
	
	<!-- ********************************** -->
	<!-- ******   Category CRUD 끝   ****** -->
	<!-- ********************************** -->
	
	<!-- ********************************** -->
	<!-- ******   Hashtag CRUD 시작   ****** -->
	<!-- ********************************** -->
	
	<select id="selectHashtagById" resultType="HashtagVO">
		SELECT
			hashtag_id,
			hashtag_name
		FROM HASHTAG
		WHERE hashtag_id = #{hashtagId}
	</select>
	
	<select id="selectAllHashtag">
		SELECT
			/*+ INDEX_DESC(HASHTAG PK_HASHTAG) */
			hashtag_id,
			hashtag_name
		FROM HASHTAG
	</select>
	
	<insert id="insertHashtag">
		INSERT INTO HASHTAG (
			hashtag_id,
			hashtag_name
		)
		VALUES (
			SEQ_HASHTAG.NEXTVAL,
			#{hashtagName}
		)
	</insert>
	
	<update id="updateHashtag">
		UPDATE HASHTAG
		SET hashtag_name = #{hashtagName}
		WHERE hashtag_id = #{hashtagId}
	</update>
	
	<delete id="deleteHashtag">
		DELETE
		FROM HASHTAG
		WHERE hashtag_id = #{hashtagId}
	</delete>
	
	<!-- ********************************** -->
	<!-- ******   Hashtag CRUD 끝   ******* -->
	<!-- ********************************** -->
	
	<!-- ********************************** -->
	<!-- ****  EventHashtag CRUD 시작   **** -->
	<!-- ********************************** -->
	
	<select id="selectEventHashtagListByEventId" resultType="EventHashtagVO">
		SELECT 
			event_id,
			hashtag_id
		FROM EVENT_HASHTAG
		WHERE event_id = #{eventId}
	</select>
	
	<select id="selectEventHashtagListByHashtagId" resultType="EventHashtagVO">
		SELECT 
			event_id,
			hashtag_id
		FROM EVENT_HASHTAG
		WHERE hashtag_id = #{hashtagId}
	</select>
	
	<select id="selectEventHashtagByEventIdAndHashtagId" resultType="EventHashtagVO">
		SELECT 
			event_id,
			hashtag_id
		FROM EVENT_HASHTAG
		WHERE event_id = #{eventId}
			AND hashtag_id = #{hashtagId}
	</select>
	
	<insert id="insertEventHashtag">
		INSERT INTO EVENT_HASHTAG (
			event_id,
			hashtag_id
		)
		VALUES (
			#{eventId},
			#{hashtagId}
		)
	</insert>
	
	<delete id="deleteEventHashtag">
		DELETE
		FROM EVENT_HASHTAG
		WHERE event_id = #{eventId}
			AND hashtag_id = #{hashtagId}
	</delete>
	
	<!-- ********************************** -->
	<!-- *****  EventHashtag CRUD 끝   ***** -->
	<!-- ********************************** -->
</mapper>