<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.devjeans.hype.event.mapper.EventMapper">

	<select id="getDual2" resultType="Object">
		SELECT dummy FROM DUAL
	</select>
	
	<select id="getTopViewEvents" resultType="com.devjeans.hype.event.dto.GetListTopViewEventDTO">
		SELECT T1.event_id, T1.branch_id, T1.event_type_id, T1.image_url, T1.title, T1.start_date, T1.end_date, T2.branch_name, T3.event_type_name, T1.view_count
		FROM EVENT T1
		INNER JOIN BRANCH T2
		ON T2.branch_id = T1.branch_id
		INNER JOIN EVENT_TYPE T3
		ON T3.EVENT_TYPE_ID = T1.EVENT_TYPE_ID
		WHERE TO_CHAR(SYSDATE, 'YYYY-MM-DD') BETWEEN T1.start_date AND T1.end_date
		ORDER BY T1.view_count DESC
		FETCH FIRST 10 ROWS ONLY
	</select>
</mapper>