<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.devjeans.hype.member.mapper.MemberMapper">
	<select id="getMemberList" resultType="MemberVO">
		SELECT *
		FROM MEMBER
	</select>
	
	<select id="getMemberByLoginId" resultType="MemberVO">
		SELECT 
			member_id,
			is_admin,
			login_id,
			name,
			password,
			gender,
			birthdate,
			create_date,
			city_id,
			prefer_branch_id
		FROM MEMBER
		WHERE login_id = #{loginId}
	</select>
	
	<insert id="insertMember">
		INSERT INTO MEMBER (member_id, login_id, name, password, gender, birthdate, city_id, prefer_branch_id)
		VALUES (
			seq_member.nextval,
			#{loginId},
			#{name},
			#{password},
			#{gender},
			#{birthdate},
			#{cityId},
			#{preferBranchId}
		)
	</insert>

	<delete id="deleteMember">
		DELETE FROM MEMBER
		WHERE member_id = #{memberId}
	</delete>
	
	<update id="updateMember">
		UPDATE MEMBER
		SET
			password = #{password},
			city_id = #{cityId},
			prefer_branch_id = #{preferBranchId}
		WHERE member_id = #{memberId}
	</update>
</mapper>